body{
    background-image: url('../public/images/photo-1532012197267-da84d127e765.avif');
    background-size: cover;
}

.bookstore{
    height: 500px;
    position: relative;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    left: 200px;
    bottom: 100px;
    top: 120px;
 }

h1{
    text-align: center;
    margin-top: 30px;
}